{% extends "base.html" %} 
{% block content %}
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1>Are you sure you want to delete {{user.username}}?</h1>
    <form action="{{ url_for('users.delete', id=user.id) }}?_method=DELETE" method="POST">
      {{ form.csrf_token }}
      <p>To confirm delete, enter your password:</p>
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
    <div class="wrapper">
      <button type="submit" class="btn btn-danger">DELETE USER</button>
    </div>
    </form> 
  </div>
</div>
{% endblock %}