{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2 class="join-message">Edit Your Profile.</h2>
    <form action="{{ url_for('users.show', id=user.id) }}?_method=PATCH" method="POST">
      {{ form.csrf_token }}
      {{ form.username(placeholder="What do you want your username to be?", value=user.username, class="form-control") }}
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}

      {{ form.email(placeholder="What's your email?", value=user.email, class="form-control") }}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}

      {{ form.steamID(placeholder="What's your steamID?", value=user.steamID, class="form-control") }}
      {% if form.steamID.errors %}
        {% for error in form.steamID.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}

      <label for="position">Preferred position(s):</label>
      <div>

        <label class="checkbox-inline">
          {% if user.support2 %}
            <input type="checkbox" id="inlineCheckbox1" name='support2' value="option1" checked> Support (Position 5)
          {% else %}
            <input type="checkbox" id="inlineCheckbox1" name='support2' value="option1"> Support (Position 5)
          {% endif %}
        </label>

        <label class="checkbox-inline">
          {% if user.support1 %}
            <input type="checkbox" id="inlineCheckbox2" name='support1' value="option2" checked> Support (Position 4)
          {% else %}
            <input type="checkbox" id="inlineCheckbox2" name='support1' value="option2"> Support (Position 4)
          {% endif %}
        </label>

        <div>
          <label class="checkbox-inline">
            {% if user.offlane %}
              <input type="checkbox" id="inlineCheckbox3" name='offlane' value="option3" checked> Offlane (Position 3)
            {% else %}
              <input type="checkbox" id="inlineCheckbox3" name='offlane' value="option3"> Offlane (Position 3)
            {% endif %}
          </label>

          <label class="checkbox-inline">
            {% if user.mid %}
              <input type="checkbox" id="inlineCheckbox4" name='mid' value="option4" checked> Mid (Position 2)
            {% else %}
              <input type="checkbox" id="inlineCheckbox4" name='mid' value="option4"> Mid (Position 2)
            {% endif %}
          </label>
        </div>

        <label class="checkbox-inline">
          {% if user.carry %}
            <input type="checkbox" id="inlineCheckbox5" name='carry' value="option5" checked> Carry (Position 1)
          {% else %}
            <input type="checkbox" id="inlineCheckbox5" name='carry' value="option5"> Carry (Position 1)
          {% endif %}
          
        </label>

      </div>

      <label for="mmr">MMR:</label>
        <select name="mmr" class="form-control" id='mmr'>
          {% if user.mmr == '1000' %}
            <option selected="selected">1000</option>
            <option>2000</option>
            <option>3000</option>
            <option>4000</option>
            <option>5000+</option>
          {% elif user.mmr == '2000' %}
            <option>1000</option>
            <option selected="selected">2000</option>
            <option>3000</option>
            <option>4000</option>
            <option>5000+</option>
          {% elif user.mmr == '3000' %}
            <option>1000</option>
            <option>2000</option>
            <option selected="selected">3000</option>
            <option>4000</option>
            <option>5000+</option>
          {% elif user.mmr == '4000' %}
            <option>1000</option>
            <option>2000</option>
            <option>3000</option>
            <option selected="selected">4000</option>
            <option>5000+</option>
          {% else %}
            <option>1000</option>
            <option>2000</option>
            <option>3000</option>
            <option>4000</option>
            <option selected="selected">5000+</option>
          {% endif %}
          
        </select>

      {{ form.discord(placeholder="Example#1234", value='', class="form-control") }}
      {% if form.discord.errors %}
        {% for error in form.discord.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <label for="password">To confirm changes, enter your password:</label>
       {% if form.password.errors %}
        {% for error in form.password.errors %}
          <span class="text-danger">
            <p>Please enter your password to submit changes<p>
          </span>
        {% endfor %}
      {% endif %}
      {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
      <div class="wrapper">
        <button type="submit" class="btn btn-success">Edit profile</button>
        <a href="{{ url_for('users.show', id=user.id) }}" class="btn btn-default">Cancel</a>
      </div>
      <div>
      <br>
      <br>
      <br>
      <a href="{{ url_for('users.delete', id=user.id) }}" class="btn btn-danger pull-right">Delete profile</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}