{% extends "base.html" %} 
{% block title %}
  Dota buddy finder
{% endblock %}

{% block content %}
  <div class="row">
    <h1>All users</h1>
    <h2>Currently Online:</h2>
    {% for user in l2p %}
      <div class="col-xs-3">
        <div class="card">
          <div class="box prof pull-left">
            <a href="{{ url_for('users.show', id=user.id) }}" class="card-link">
              <img src="{{ user.img_url }}" alt="Image for {{ user.username }}" class="card-image">
              <p>
              {% if user.username|length <= 8 %}
                @{{ user.username }}
                {% else %}
                @{{ user.username[0:8]}}...
              {% endif %}
              </p>
            </a>
           </div>   
          <div class="box info">
            <p>Karma score: 10</p>
            <p>MMR: {{user.mmr}}</p>
            <p>Pos: 
            {% if user.support2 and user.support1 and user.offlane and user.carry and user.mid %}
              Any
            {% else %}
              {% if user.support2 %}
              [5]
              {% endif %}
              {% if user.support1 %}
              [4]
              {% endif %}
              {% if user.offlane %}
              [3]
              {% endif %}
              {% if user.mid%}
              [2]
              {% endif %}
              {% if user.carry %}
              [1]
              {% endif %}
            {% endif %}
            </p>
          </div> 
        </div>
        {% if user == current_user %}
        {% elif current_user.is_liking(user) %}
          <form method="POST" action="{{url_for('users.liker', liker_id=user.id)}}?_method=DELETE">
            <input type="submit" value="Unlike" class="btn btn-info btn-sm">
          </form>
        {% else %}
          <form method="POST" action="{{url_for('users.liker', liker_id=user.id)}}">
            <input type="submit" value="Like" class="btn btn-primary btn-sm">
          </form>
        {% endif %}
      </div>
    {% endfor %}
    {% for user in online %}
      <div class="col-xs-3">
        <div class="card">
          <div class="box prof pull-left">
            <a href="{{ url_for('users.show', id=user.id) }}" class="card-link">
              <img src="{{ user.img_url }}" alt="Image for {{ user.username }}" class="card-image">
              <p>
              {% if user.username|length <= 8 %}
                @{{ user.username }}
                {% else %}
                @{{ user.username[0:8]}}...
              {% endif %}
              </p>
            </a>
           </div>   
          <div class="box info">
            <p>Karma score: 10</p>
            <p>MMR: {{user.mmr}}</p>
            <p>Pos: 
            {% if user.support2 and user.support1 and user.offlane and user.carry and user.mid %}
              Any
            {% else %}
              {% if user.support2 %}
              [5]
              {% endif %}
              {% if user.support1 %}
              [4]
              {% endif %}
              {% if user.offlane %}
              [3]
              {% endif %}
              {% if user.mid%}
              [2]
              {% endif %}
              {% if user.carry %}
              [1]
              {% endif %}
            {% endif %}
            </p>
          </div> 
        </div>
      </div>
    {% endfor %}
  </div>


  <div class="row">
    <h2>Currently Away or Snooze</h2>
    {% for user in away %}
      <div class="col-xs-3">
        <div class="card">
          <div class="box prof pull-left">
            <a href="{{ url_for('users.show', id=user.id) }}" class="card-link">
              <img src="{{ user.img_url }}" alt="Image for {{ user.username }}" class="card-image">
              <p>
              {% if user.username|length <= 8 %}
                @{{ user.username }}
                {% else %}
                @{{ user.username[0:8]}}...
              {% endif %}
              </p>
            </a>
           </div>   
          <div class="box info">
            <p>Karma score: 10</p>
            <p>MMR: {{user.mmr}}</p>
            <p>Pos: 
            {% if user.support2 and user.support1 and user.offlane and user.carry and user.mid %}
              Any
            {% else %}
              {% if user.support2 %}
              [5]
              {% endif %}
              {% if user.support1 %}
              [4]
              {% endif %}
              {% if user.offlane %}
              [3]
              {% endif %}
              {% if user.mid%}
              [2]
              {% endif %}
              {% if user.carry %}
              [1]
              {% endif %}
            {% endif %}
            </p>
          </div> 
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <h2>Currently Offline, Busy or Private Profile</h2>
    {% for user in rest %}
      <div class="col-xs-3">
        <div class="card">
          <div class="box prof pull-left">
            <a href="{{ url_for('users.show', id=user.id) }}" class="card-link">
              <img src="{{ user.img_url }}" alt="Image for {{ user.username }}" class="card-image">
              <p>
              {% if user.username|length <= 8 %}
                @{{ user.username }}
                {% else %}
                @{{ user.username[0:8]}}...
              {% endif %}
              </p>
            </a>
           </div>   
          <div class="box info">
            <p>Karma score: 10</p>
            <p>MMR: {{user.mmr}}</p>
            <p>Pos: 
            {% if user.support2 and user.support1 and user.offlane and user.carry and user.mid %}
              Any
            {% else %}
              {% if user.support2 %}
              [5]
              {% endif %}
              {% if user.support1 %}
              [4]
              {% endif %}
              {% if user.offlane %}
              [3]
              {% endif %}
              {% if user.mid%}
              [2]
              {% endif %}
              {% if user.carry %}
              [1]
              {% endif %}
            {% endif %}
            </p>
          </div> 
        </div>
      </div>
    {% endfor %}
  </div>
  <br>
  <br>
{% endblock %}