{% extends "base.html" %} 
{% block content %}
  <div class="row">
    <div class="col-xs-4">
      {% if status == 1 %}
        <img src="{{ user.img_url }}" class="green" alt="Image for {{ user.username }}" id="profile-avatar">
        <p>Status: Online</p>
      {% elif status == 2 %}
        <img src="{{ user.img_url }}" class="red" alt="Image for {{ user.username }}" id="profile-avatar">
        <p>Status: Busy</p>
      {% elif status == 3 %}
        <img src="{{ user.img_url }}" class="orange" alt="Image for {{ user.username }}" id="profile-avatar">
        <p>Status: Away</p>
      {% elif status == 4 %}
        <img src="{{ user.img_url }}" class="orange" alt="Image for {{ user.username }}" id="profile-avatar">
        <p>Status: Snooze</p>
      {% elif status == 5 %}
        <img src="{{ user.img_url }}" class="purple" alt="Image for {{ user.username }}" id="profile-avatar">
        <p>Status: Looking to trade</p>
      {% elif status == 6 %}
        <img src="{{ user.img_url }}" class="blue" alt="Image for {{ user.username }}" id="profile-avatar">
        <p>Status: Looking to play</p>
      {% else %}
        <img src="{{ user.img_url }}" class="grey" alt="Image for {{ user.username }}" id="profile-avatar">
        <p>Status: Offline</p>
        <p>Last online: {{diff}} days ({{last_online}})<p>
      {% endif %}
      <p>Preferred Role(s):<p>
      <ul>
        {% if user.support2 and user.support1 and user.offlane and user.carry and user.mid %}
          <li>Any</li>
        {% else %}
          {% if user.support2 %}
          <li>Support (5)</li>
          {% endif %}
          {% if user.support1 %}
          <li>Support (4)</li>
          {% endif %}
          {% if user.offlane %}
          <li>Offlane</li>
          {% endif %}
          {% if user.mid%}
          <li>Mid</li>
          {% endif %}
          {% if user.carry %}
          <li>Carry</li>
          {% endif %}
        {% endif %}
      </ul>
    </div>

  </div>
{% endblock %}