{% extends "base.html" %} 
{% block title %}
  Team Index
{% endblock %}

{% block content %}
  {% if current_user.teamz == [] %}

    <a class="pull-right" href="{{ url_for('teams.new') }}">
    <button class="btn btn-success">Create a team!</button>
    </a>
  {% endif %}

  <h1>All teams</h1>
  {% for team in teams %}
    <li><a href="{{ url_for('teams.show', id=team.id) }}">
    {% if team.prefix %}
      [{{team.prefix}}]
    {% endif %}
    - {{team.name}}
    </a></li>

  {% for player in team.userz %}
    <img class="card-image" src="{{player.users.img_url}}" alt="">
  {% endfor %}
  
  {% endfor %}


{% endblock %}