{% extends "base.html" %} 
{% block title %}
  Team Index
{% endblock %}

{% block content %}
  <div class="pull-right">
  {% if current_user.is_authenticated and current_user.id == team.num_players %}
    <form method="GET" action="{{url_for('teams.edit', id=team.id)}}" >
      <input type="submit" value="Edit team info  " class="btn btn-primary btn-md">
    </form>
  {% endif %}
  </div>
  <h1>
  {% if team.prefix %}
    [{{team.prefix}}]
  {% endif %}
  {{team.name}}</h1>
  {% for user in users %}
    <div class="inline">
    <img class="card-image" src="{{user.img_url}}" alt="{{user.username}}">
    <a href={{url_for('users.show', id=user.id)}}>@{{user.username}}<a>
    {% if user == current_user %}
      {% if current_user.id != team.num_players %}
        <form  class='deletebox' method="POST" action="{{url_for('teams.leave', id=team.id)}}?_method=DELETE" >
          <input type="submit" value="Leave Team" class="btn btn-danger btn-sm">
        </form>
      {% endif %}
    {% endif %}
    </div>
  {% endfor %}
{% endblock %}